/*************************
 * Check and Radio items *
 *************************/

checkbutton,
radiobutton {
	outline: none;
}

checkbutton.text-button,
radiobutton.text-button {
	// this is for a nice focus on check and radios text
	padding: 2px;

	label:not(:only-child) {
		margin: 0 4px;
	}
}

%check-and-radio-on-indicator {
	&:not(:checked):not(:indeterminate) {
		background-color: on($indicator, divider);

		&:hover {
			box-shadow: 0 0 0 6px on($indicator, fill);
			background-color: rgba(on($indicator), 0.15);
		}

		&:active {
			box-shadow: 0 0 0 6px on($indicator, divider);
			background-color: rgba(on($indicator), 0.2);
		}

		&:disabled {
			background-color: on($indicator, fill);
		}
	}
}

check,
radio {
	min-height: 20px;
	min-width: 20px;
	margin: $space-size / 2;
	padding: 0;
	border-radius: $circular-radius;
	color: transparent;
	background-color: $divider;
	transition:
		$transition,
		box-shadow $ripple-fade-out-duration / 2 $ease-out;

	&:hover {
		box-shadow: 0 0 0 6px $fill;
		background-color: rgba($text, 0.15);
	}

	&:active {
		box-shadow: 0 0 0 6px $divider;
		background-color: rgba($text, 0.2);
	}

	&:disabled {
		background-color: $fill;
	}

	&:checked,
	&:indeterminate {
		color: on($assets-color, secondary);
		background-color: $assets-color;

		&:hover {
			box-shadow: 0 0 0 6px rgba($assets-color, 0.15);
			background-color: lighten($assets-color, 10%);
		}

		&:active {
			box-shadow: 0 0 0 6px rgba($assets-color, 0.2);
			background-color: $assets-color;
		}

		&:disabled {
			color: on($assets-color, secondary-disabled);
			background-color: rgba($assets-color, 0.35);
		}
	}

	popover modelbutton.flat & {
		&,
		&:focus,
		&:hover,
		&:focus:hover,
		&:active,
		&:disabled {
			transition: none; // FIXME: this is a workaround for a popover check/radio long transition issue
			box-shadow: none;
			background-image: none;
		}

		&.left:dir(rtl) {
			margin-left: -$space-size / 2;
			margin-right: $space-size;
		}

		&.right:dir(ltr) {
			margin-left: $space-size;
			margin-right: -$space-size / 2;
		}
	}

	menu menuitem & {
		transition: none;
		margin: 0; // this is a workaround for a menu check/radio size allocation issue
		padding: 0;

		&:dir(ltr) {
			margin-right: $space-size;
			margin-left: -$space-size / 2;
		}

		&:dir(rtl) {
			margin-left: $space-size;
			margin-right: -$space-size / 2;
		}

		&,
		&:hover,
		&:disabled,
		&:checked:hover,
		&:indeterminate:hover {
			box-shadow: none;
		}
	}
}

%check,
check {
	&:checked {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/checkbox-checked-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/checkbox-checked-symbolic@2.svg'))
		);
	}
	&:indeterminate {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/checkbox-mixed-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/checkbox-mixed-symbolic@2.svg'))
		);
	}
}

%radio,
radio {
	&:checked {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/radio-checked-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/radio-checked-symbolic@2.svg'))
		);
	}
	&:indeterminate {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/radio-mixed-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/radio-mixed-symbolic@2.svg'))
		);
	}
}

%small_check,
menu menuitem check {
	min-height: 16px;
	min-width: 16px;

	&:checked {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/small-checkbox-checked-symbolic.svg')),
			- gtk-recolor(
					url('assets/scalable/small-checkbox-checked-symbolic@2.svg')
				)
		);
	}
	&:indeterminate {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/small-checkbox-mixed-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/small-checkbox-mixed-symbolic@2.svg'))
		);
	}
}

%small_radio,
menu menuitem radio {
	min-height: 16px;
	min-width: 16px;

	&:checked {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/small-radio-checked-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/small-radio-checked-symbolic@2.svg'))
		);
	}
	&:indeterminate {
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/small-radio-mixed-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/small-radio-mixed-symbolic@2.svg'))
		);
	}
}

// ANIMATION:
// this is made with those pretty convoluted transitions, since checks and radios have to animate only on state changes,
// the transformation is set on the active state and it get reset on the checked state.
check:not(:checked):active {
	-gtk-icon-transform: rotate(90deg);
}

// radio:not(:checked):active { -gtk-icon-transform: scale(0); }

check:not(:checked):indeterminate:active,
radio:not(:checked):indeterminate:active {
	-gtk-icon-transform: scaleX(-1);
} // instead of rotateY(180deg)

treeview.view {
	radio,
	check {
		padding: 0;
		margin: 0;
		background-color: $divider;

		&,
		&:hover,
		&:disabled,
		&:checked:hover,
		&:indeterminate:hover {
			box-shadow: none;
		}

		&:selected:not(:disabled):not(:checked):not(:indeterminate) {
			background-color: on($indicator, divider);
		}

		&:checked,
		&:indeterminate {
			background-color: $assets-color;
			color: on($assets-color);
			background-image: none;
		}
	}
}

// selection-mode
.view.content-view.check:not(list),
.content-view .tile check:not(list) {
	min-height: 40px;
	min-width: 40px;
	margin: 0;
	padding: 0;
	border-radius: $circular-radius;

	&:not(:checked) {
		background-image: image(rgba($white, 0.25));
	}

	&:hover,
	&:checked {
		box-shadow: $shadow-z6;
	}

	&:checked {
		background-color: $assets-color;
		color: on($assets-color);
		-gtk-icon-source: -gtk-scaled(
			- gtk-recolor(url('assets/scalable/checkbox-checked-symbolic.svg')),
			- gtk-recolor(url('assets/scalable/checkbox-checked-symbolic@2.svg'))
		);
	}
}
