/***************
 * Dialogs *
 ***********/
messagedialog {
	// Message Dialog styling
	&.background {
		// background-color: $surface;
		background-color: if($variant == 'light', $surface, $black);

		.titlebar {
			min-height: $window-radius;

			&,
			&:backdrop {
				// background-color: $surface;
				background-color: if($variant == 'light', $surface, $black);
			}
		}

		&.csd {
			// rounded bottom border styling for csd version
			border-bottom-left-radius: $window-radius;
			border-bottom-right-radius: $window-radius;
		}
	}

	&,
	&.background.csd {
		.titlebar {
			border: none;
			/* box-shadow: inset 0 1px highlight($surface); */
		}
	}

	.dialog-action-box {
		margin-top: -$space-size;
		// padding: $space-size;

		button,
		.linked:not(.vertical) > button {
			@extend %button-flat;

			&,
			&:first-child,
			&:last-child {
				border-radius: $corner-radius;
			}

			&:not(:last-child) {
				margin-right: $space-size;
			}

			&.suggested-action:not(:disabled) {
				color: $suggested;
			}

			&.destructive-action:not(:disabled) {
				color: $destructive;
			}
		}
	}
}

filechooser {
	.csd & {
		background-color: $background;
		border-radius: 0 0 $window-radius $window-radius;
	}

	.dialog-action-box {
		border-top: 1px solid transparent;
	}

	treeview.view header > button {
		background-color: if($variant == 'light', $grey-150, $grey-900);
	}

	#pathbarbox {
		background-color: if($variant == 'light', $grey-150, $grey-900);
		border-radius: $window-radius $window-radius 0 0;
		margin: 0 4px;

		> stack > box > button {
			// The new folder button
			@extend %button-flat;
			@extend %circular-button;
		}
	}

	stack.view {
		background-color: transparent;
		padding: 0 4px;

		scrolledwindow {
			background-color: if($variant == 'light', $grey-150, $grey-900);
			border-radius: 0 0 $window-radius $window-radius;

			list {
				background-color: transparent;
			}
		}

		> placesview {
			background-color: transparent;
			padding: 4px;
		}

		frame > border {
			border: none;
		}
	}

	.csd & placessidebar {
		background: none;
		border-bottom-left-radius: $window-radius;
	}

	paned > separator {
		background: none;
	}

	paned box.vertical {
		background-color: if($variant == 'light', $grey-150, $grey-900);
		border-radius: $window-radius;
		margin: 0 6px 0 1px;
	}
}
