/*************
 * Notebooks *
 *************/

%tabs_tab {
	transition:
		$transition,
		background-size 0ms,
		background-image 0ms;
	min-height: $small-size;
	min-width: $small-size;
	padding: $space-size / 2 $space-size * 2;
	border: none;
	outline: none;
	background-clip: padding-box;
	color: $text-secondary;
	font-weight: 500;
	border-radius: $modal-radius;

	&:hover {
		background-color: if($variant == 'light', $grey-100, $fill);
		color: $primary;
	}

	&:disabled {
		color: $text-secondary-disabled;
	}

	&:checked {
		transition: $transition;
		background-color: if($variant == 'light', $grey-100, $fill);
		color: $primary;
		box-shadow: 0 1px 3px rgba(black, 0.1);

		&:disabled {
			color: $text-disabled;
		}
	}
}

notebook {
	background-color: if($variant == 'light', rgba($white, 0.4), $fill);

	frame > paned > & > header,
	&.frame > header {
		background-color: transparent;
	}

	&.frame {
		border-radius: $modal-radius + $space-size;

		scrolledwindow.frame {
			border: none;
		}

		frame {
			> border {
				border: none;
				border-radius: $modal-radius;
			}

			> list {
				row.activatable {
					border-radius: $corner-radius;
				}
			}
		}
	}

	> header {
		border: none;
		background-color: $fill;
		padding: $space-size / 2;
		margin: $space-size / 2;
		border-radius: $modal-radius + $space-size / 2;
		// background-clip: border-box;

		&.top > tabs > arrow {
			@extend %notebook_vert_arrows;

			border-top-style: none;
		}

		&.bottom > tabs > arrow {
			@extend %notebook_vert_arrows;

			border-bottom-style: none;
		}

		@at-root %notebook_vert_arrows {
			padding-left: 4px;
			padding-right: 4px;

			&.down {
				margin-left: 0;
				-gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
			}

			&.up {
				margin-right: 0;
				-gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
			}
		}

		&.left > tabs > arrow {
			@extend %notebook_horz_arrows;

			border-left-style: none;
		}

		&.right > tabs > arrow {
			@extend %notebook_horz_arrows;

			border-right-style: none;
		}

		@at-root %notebook_horz_arrows {
			padding-top: 4px;
			padding-bottom: 4px;

			&.down {
				margin-top: 0;
				-gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
			}

			&.up {
				margin-bottom: 0;
				-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
			}
		}

		> tabs > arrow {
			@extend %button-flat-simple;

			min-height: 16px;
			min-width: 16px;
			border-radius: $corner-radius;
		}

		tab {
			@extend %tabs_tab;

			// FIXME: The tab node doesn't have :drop(active), instead its child box has it.
			> box {
				transition: background-color $duration $ease-out;
				margin: -$space-size -12px;
				padding: $space-size 12px;

				&:drop(active) {
					background-color: $divider;
					color: $text;
				}
			}

			// colors the button like the label, overridden otherwise
			button.flat,
			button.close-button {
				@extend %small-button;

				&:last-child {
					margin-left: $space-size;
					margin-right: $space-size - 12px;
				}

				&:first-child {
					margin-left: $space-size - 12px;
					margin-right: $space-size;
				}
			}
		}

		&.top,
		&.bottom {
			tabs {
				> tab + tab {
					margin-left: $space-size / 2;
				}

				&:not(:only-child) {
					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				tab.reorderable-page {
					border-style: solid;
				}
			}
		}

		&.left,
		&.right {
			tabs {
				> tab + tab {
					margin-top: $space-size / 2;
				}

				&:not(:only-child) {
					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				tab.reorderable-page {
					border-style: solid;
				}
			}
		}

		> button.image-button {
			min-height: $small-size;
			min-width: $small-size;
			padding: $space-size / 2;
		}
	}

	> stack:not(:only-child) {
		// the :not(:only-child) is for "hidden" notebooks
		background-color: transparent;
		border-radius: $corner-radius;
	}
}
