/***************
 * GtkScale *
 ************/
scale {
	// sizing
	$_marks_length: 8px;
	$_marks_distance: 7px;

	$trough_size: 2px;
	$finetune_trough_size: 4px;

	$slider_size: 18px;

	$slider_margin: -($slider_size - $trough_size) / 2;
	$finetune_slider_margin: -($slider_size - $finetune_trough_size) / 2;

	$color_slider_margin: -($slider_size) * 3 / 4;
	$color_marks_slider_margin: -($slider_size - 16px) - $color_slider_margin;

	min-height: $trough_size;
	min-width: $trough_size;

	&.horizontal {
		padding: ($medium-size - $trough_size) / 2 12px;
	}

	&.vertical {
		padding: 12px ($medium-size - $trough_size) / 2;
	}

	// the slider is inside the trough, so to have make it bigger there's a negative margin
	slider {
		min-height: $slider_size;
		min-width: $slider_size;
		margin: $slider_margin;
	}

	// click-and-hold the slider to activate
	&.fine-tune {
		&.horizontal {
			min-height: $finetune_trough_size;
			padding-top: ($medium-size - $finetune_trough_size) / 2;
			padding-bottom: ($medium-size - $finetune_trough_size) / 2;
		}

		&.vertical {
			min-width: $finetune_trough_size;
			padding-left: ($medium-size - $finetune_trough_size) / 2;
			padding-right: ($medium-size - $finetune_trough_size) / 2;
		}

		// to make the trough grow in fine-tune mode
		slider {
			margin: $finetune_slider_margin;
		}
	}

	// the backing bit
	trough {
		transition: background-color $duration $ease-out;
		outline: none;
		background-color: $track;

		&:disabled {
			background-color: $track-disabled;
		}
	}

	// the colored part of the backing bit
	highlight {
		transition: background-image $duration $ease-out;
		background-image: image($primary);

		&:disabled {
			background-color: $background;
			background-image: image($text-secondary-disabled);
		}
	}

	// this is another differently styled part of the backing bit, the most relevant use case is for example
	// in media player to indicate how much video stream as been cached
	fill {
		transition: background-color $duration $ease-out;
		background-color: $track;

		&:disabled {
			background-color: transparent;
		}
	}

	slider {
		transition: all $duration $ease-out;
		border-radius: $circular-radius;
		color: $primary;
		background-color: $base;
		box-shadow: inset 0 0 0 2px $primary;

		&:hover {
			box-shadow:
				inset 0 0 0 2px $primary,
				0 0 0 8px $divider;
		}

		&:active {
			box-shadow:
				inset 0 0 0 4px $primary,
				0 0 0 8px $divider;
		}

		&:disabled {
			box-shadow: inset 0 0 0 2px $text-secondary-disabled;
		}
	}

	marks,
	value {
		color: $text-secondary;
	}

	indicator {
		background-color: $track;
		color: transparent;
	}

	//marks margins
	@each $scale_orient, $marks_class, $marks_pos,
		$marks_margin in (horizontal, top, top, bottom),
		(horizontal, bottom, bottom, top), (vertical, top, left, right),
		(vertical, bottom, right, left)
	{
		&.#{$scale_orient} marks {
			&.#{$marks_class} {
				margin-#{$marks_margin}: $_marks_distance;
				margin-#{$marks_pos}: -($_marks_distance + $_marks_length);
			}
		}

		&.#{$scale_orient}.fine-tune marks {
			&.#{$marks_class} {
				margin-#{$marks_margin}: $_marks_distance - 1px;
				margin-#{$marks_pos}: -($_marks_distance + $_marks_length - 1px);
			}
		}
	}

	&.horizontal {
		indicator {
			min-height: $_marks_length;
			min-width: 1px;
		}
	}

	&.vertical {
		indicator {
			min-height: 1px;
			min-width: $_marks_length;
		}
	}

	// *WARNING* scale with marks madness following

	@each $dir_class, $dir_infix in ('horizontal', 'horz'), ('vertical', 'vert') {
		@each $marks_infix,
			$marks_class in ('marks-before', 'marks-before:not(.marks-after)'),
			('marks-after', 'marks-after:not(.marks-before)')
		{
			&.#{$dir_class}.#{$marks_class} {
				slider {
					transition:
						background-color $duration $ease-out,
						background-size $ripple-fade-out-duration $ease-out,
						background-image $ripple-fade-out-opacity-duration $ease-out;
					min-height: 32px;
					min-width: 32px;
					margin: -15px;
					border-radius: 50%;
					background-size:
						auto,
						1000% 1000%;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: transparent;

					&,
					&:hover,
					&:active,
					&:disabled {
						box-shadow: none;
					}

					&:focus {
						background-color: $overlay-focus;
					}

					&:hover {
						background-color: $overlay-hover;
					}

					&:focus:hover {
						background-color: $overlay-focus-hover;
					}

					&:active {
						transition:
							background-color $duration $ease-out,
							background-size 0ms,
							background-image 0ms;
						animation: ripple-on-slider
							$ripple-fade-in-duration
							$ease-out
							forwards;
						background-size:
							auto,
							0% 0%;
						background-color: $overlay-hover;
					}

					@each $state, $state_infix in ('', ''), (':disabled', '-disabled') {
						&#{$state} {
							$_scale_asset: 'assets/scale-#{$dir_infix}-#{$marks_infix}-slider#{$state_infix}#{$asset-suffix}';

							background-image:
								-gtk-scaled(
									url('#{$_scale_asset}.svg'),
									url('#{$_scale_asset}@2.svg')
								),
								radial-gradient(circle, transparent 10%, transparent 0%);
						}
					}

					&:active {
						$_scale_asset: 'assets/scale-#{$dir_infix}-#{$marks_infix}-slider#{$asset-suffix}';

						background-image:
							-gtk-scaled(
								url('#{$_scale_asset}.svg'),
								url('#{$_scale_asset}@2.svg')
							),
							radial-gradient(circle, $overlay-active 10%, transparent 0%);
					}
				}
			}
		}
	}

	&.color {
		min-height: 0;
		min-width: 0;

		&.horizontal {
			padding: 0 0 12px 0;

			slider {
				&:dir(ltr),
				&:dir(rtl) {
					// specificity bump
					margin-bottom: $color_slider_margin;
					margin-top: $color_marks_slider_margin;
				}
			}
		}

		&.vertical {
			&:dir(ltr) {
				padding: 0 0 0 12px;

				slider {
					margin-left: $color_slider_margin;
					margin-right: $color_marks_slider_margin;
				}
			}

			&:dir(rtl) {
				padding: 0 12px 0 0;

				slider {
					margin-right: $color_slider_margin;
					margin-left: $color_marks_slider_margin;
				}
			}
		}
	}
}
