scrolledwindow {
	viewport.frame {
		// avoid double borders when viewport inside scrolled window
		border: none;
	}

	stack &.frame {
		// border-radius: $corner-radius;

		viewport.frame list {
			border: none;
		}
	}

	// This is used when content is touch-dragged past boundaries.
	// draws a box on top of the content, the size changes programmatically.
	@at-root overshoot {
		&.top {
			@include overshoot(top);
		}

		&.bottom {
			@include overshoot(bottom);
		}

		&.left {
			@include overshoot(left);
		}

		&.right {
			@include overshoot(right);
		}
	}

	// // Overflow indication, works similarly to the overshoot, the size if fixed tho.
	// @at-root undershoot {
	//   &.top { @include undershoot(top); }
	//
	//   &.bottom { @include undershoot(bottom); }
	//
	//   &.left { @include undershoot(left); }
	//
	//   &.right { @include undershoot(right); }
	// }

	@at-root junction {
		// the small square between two scrollbars
		border-style: solid none none solid;
		border-width: 1px;
		border-color: $divider;
		background-color: $base;

		&:dir(rtl) {
			border-style: solid solid none none;
		}
	}
}
