/*****************
 * GtkSpinButton *
 *****************/
spinbutton {
	&:not(.vertical) {
		// in this horizontal configuration, the whole spinbutton
		// behaves as the entry, so we extend the entry styling
		// and nuke the style on the internal entry
		@extend %entry;

		padding: 0;

		entry {
			min-width: $large-size - 8px * 2;
			// reset all the other props since the spinbutton node is styled here
			margin: 0;
			border-image: none;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;
		}

		button {
			@extend %button-flat-simple;
			@extend %small-button;

			// margin: $space-size;
			border: solid $space-size transparent;

			// Remove unwanted focus indicator
			&:focus:not(:hover):not(:active):not(:disabled) {
				box-shadow: inset 0 0 0 9999px transparent;
				color: $text-secondary;
			}

			&.up:dir(ltr),
			&.down:dir(rtl) {
				margin-left: -$space-size / 2;
			}

			&.up:dir(rtl),
			&.down:dir(ltr) {
				margin-right: -$space-size / 2;
			}
		}
	}

	// OSD horizontal
	// .osd &:not(.vertical) { }

	// Vertical
	&.vertical {
		// in the vertical configuration, we treat the spinbutton
		// as a box, and tweak the style of the entry in the middle
		// so that it's linked

		// FIXME: this should not be set at all, but otherwise it gets the wrong
		// color
		@extend %entry;

		padding: 0;

		&:disabled {
			color: $text-disabled;
		}

		entry {
			margin: 0;
			border-image: none;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;

			min-height: $medium-size;
			min-width: $large-size - $space-size;
			padding: 0;
		}

		button {
			@extend %button-flat-simple;
			@extend %small-button;
			padding: 0;

			border: solid $space-size transparent;

			// Remove unwanted focus indicator
			&:focus:not(:hover):not(:active) {
				box-shadow: inset 0 0 0 9999px transparent;
				color: $text-secondary;
			}

			&.up {
				margin: 0 $space-size/2;
			}

			&.down {
				margin: 0 $space-size/2;
			}
		}
	}

	// Misc
	treeview &:not(.vertical) {
		min-height: 0;
		border-style: none;
		border-radius: 0;

		entry {
			min-height: 0;
			padding: 1px 2px;
		}
	}
}
