//
// Builder
//

headerbar splitbutton {
	notification button {
		margin: 0;
		min-height: $small-size;
		min-width: $small-size;
		padding: 0;
	}
}

popover.background.global-search {
	> arrow,
	> contents {
		padding: 0;
	}
}

panelframeswitcher {
	padding: $space-size / 2;
}

.frameheader.header {
	min-height: $small-size;
	background-color: $base-alt;

	> button {
		border: none;
		margin: 0;
		padding: $space-size / 2;
	}

	tabbar.inline {
		> revealer > box {
			min-height: $small-size;

			.start-action {
				padding: 0;
				border: none;
			}

			.end-action {
				padding: 0;
				border-left: 1px solid $border-color;
			}

			tabbox {
				border: none;
				background: none;
			}
		}
	}
}

panelstatusbar {
	> menubutton > button,
	> paneltogglebutton button {
		border-radius: 0;
	}
}

// Setting window
.style-variant {
	padding: 0 $space-size * 2;

	button.toggle {
		padding: 0;

		&,
		&:hover,
		&:focus,
		&:active,
		&:checked {
			background: none;
			outline: none;
			border: none;
			box-shadow: none;
		}

		> stylevariantpreview > .wallpaper {
			border-radius: $corner-radius;
			outline-color: transparent;
			outline-width: 3px;
			outline-offset: $space-size / 2;
			outline-style: solid;
			box-shadow: none;
		}

		&:hover > stylevariantpreview > .wallpaper {
			outline-color: $fill;
		}

		&:active > stylevariantpreview > .wallpaper {
			outline-color: $track;
		}

		&:checked > stylevariantpreview > .wallpaper {
			outline-color: $primary;
		}
	}
}
