@import '../tweaks-temp';

// Function to convert px values to em
@function to_em($input, $base: 16px) {
	// multiplied and divided by 1000 to make up for round() shortcoming
	$em_value: ($input / $base) * 1.091 * 1000;
	@return round($em_value) / 1000 * 1em;
}

$asset_suffix: if($variant == 'dark', '-dark', '');

// sizes
$item_size: if($compact == 'false', 32px, 28px);
$font_size: if($compact == 'false', 11.5, 10.5);

// padding, margin and spacing
$base_padding: if($compact == 'false', 6px, 4px);
$base_margin: if($compact == 'false', 4px, 3px);
$base_spacing: if($compact == 'false', 6px, 4px);

// Scaled values
// Used in elements that follow text scaling factors
$scaled_padding: to_em(6px); // same as $base_padding

// Used for symbolic icons that scale
$scalable_icon_size: to_em(16px);
$medium_scalable_icon_size: $scalable_icon_size * 1.5;
$large_scalable_icon_size: $scalable_icon_size * 2;

// radiuses
$circular_radius: 9999px;
$base_radius: 12px;
$icon_radius: 16px;
$window_radius: 20px;
$menu_radius: $base_radius + $base_padding;
$modal_radius: $menu_radius;

// icons
$base_icon_size: 16px;
$medium_icon_size: $base_icon_size * 1.5; // 24px
$large_icon_size: $base_icon_size * 2; // 32px

// durations
$shorter_duration: 100ms;
$longer_duration: 150ms;
$ripple_duration: 250ms;

// Shadows
$shadow-z1:
	0 2px 3px -2px rgba(black, 0.3),
	0 1px 2px -1px rgba(black, 0.24),
	0 1px 2px -1px rgba(black, 0.17);
$shadow-z2:
	0 3px 2px -3px rgba(black, 0.2),
	0 2px 2px -1px rgba(black, 0.24),
	0 1px 3px 0 rgba(black, 0.12);
$shadow-z3:
	0 3px 2px -2px rgba(black, 0.05),
	0 2px 3px -1px rgba(black, 0.06),
	0 1px 4px 0 rgba(black, 0.05);
$shadow-z4:
	0 2px 3px -1px rgba(black, 0.15),
	0 4px 3px 0 rgba(black, 0.18),
	0 1px 6px 0 rgba(black, 0.12);
$shadow-z5:
	0 2px 3px -1px rgba(black, 0.05),
	0 4px 6px 0 rgba(black, 0.06),
	0 1px 10px 0 rgba(black, 0.05);
$shadow-z6:
	0 2px 3px -1px rgba(black, 0.1),
	0 4px 6px 0 rgba(black, 0.12),
	0 1px 10px 0 rgba(black, 0.1);
$shadow-z12:
	0 7px 5px -4px rgba(black, 0.2),
	0 12px 10px 2px rgba(black, 0.14),
	0 5px 13px 4px rgba(black, 0.12);
$shadow-z16:
	0 8px 6px -5px rgba(black, 0.2),
	0 16px 15px 2px rgba(black, 0.14),
	0 6px 18px 5px rgba(black, 0.12);
