/***************
 * Header bars *
 ***************/

%titlebar-button {
	@extend %button-flat;
	color: $titlebar-text-secondary;
	border: none;

	&:hover,
	// &:focus:not(:hover):not(:active),
	&:active {
		color: on($primary);
		background-color: $primary;
	}

	&:checked {
		color: on($titlebar-indicator);
		background-color: $primary;
	}

	&:disabled {
		color: $titlebar-text-secondary-disabled;
	}

	&:checked {
		&:disabled {
			background-color: transparent;
			color: $titlebar-text-disabled;
		}
	}

	&:backdrop {
		color: $titlebar-text-disabled;

		&:focus,
		&:hover,
		&:active {
			color: $titlebar-text-secondary;
		}

		&:disabled {
			color: $titlebar-text-secondary-disabled;
		}

		&:checked {
			color: $titlebar-text-secondary;

			&:disabled {
				color: $titlebar-text-secondary-disabled;
			}
		}
	}
}

%titlebar-entry {
	background-color: $titlebar-fill;
	color: $titlebar-text-secondary;

	&:hover,
	&:focus-within {
		color: $titlebar-text;
	}

	&:disabled {
		background-color: $titlebar-fill;
		color: $titlebar-text-disabled;
	}

	> text {
		> placeholder {
			color: $titlebar-text-disabled;
		}

		> block-cursor {
			color: $titlebar-fill;
			background-color: $titlebar-text;
		}
	}

	> image {
		color: $titlebar-text-secondary;

		&:hover,
		&:active {
			color: $titlebar-text;
		}

		&:disabled {
			color: $titlebar-text-disabled;
		}
	}
}

headerbar {
	min-height: $large-size;
	background-color: $titlebar;
	color: $titlebar-text;
	box-shadow: none;
	border: none;
	transition:
		background-color $duration $ease-out,
		color $duration $ease-out;

	padding: 0;
	margin: 0;

	&:disabled {
		color: $titlebar-text-disabled;
	}

	&:backdrop {
		background-color: $titlebar-backdrop;
		color: $titlebar-text-secondary;
		box-shadow: inset 0 1px highlight($titlebar);

		&:disabled {
			color: $titlebar-text-secondary-disabled;
		}
	}

	&.flat,
	&.flat:backdrop {
		background: none;
		box-shadow: none;
		transition: none;
	}

	.title {
		padding-left: $space-size;
		padding-right: $space-size;
		margin: 0 -13px;
		font-weight: bold;
	}

	.subtitle {
		padding: 0 $space-size * 2;
		font-size: smaller;
	}

	.subtitle,
	.dim-label {
		transition: color $duration $ease-out;
		color: $titlebar-text-secondary;

		&:backdrop {
			color: $titlebar-text-disabled;
		}
	}

	// Don't draw titlebar above titlebar
	.titlebar {
		background-color: transparent;
		box-shadow: none;
	}

	// The separator for split headerbars
	headerbar + separator {
		background-color: $titlebar-divider;
	}

	> windowhandle > box {
		padding: 0 $space-size * 2;

		&,
		> box.start,
		> box.end {
			border-spacing: $space-size;
		}
	}

	// add vertical margins to common widget on the headerbar to avoid them spanning the whole height
	entry,
	spinbutton,
	splitbutton,
	button.back,
	menubutton,
	stackswitcher,
	separator:not(.sidebar) {
		margin-top: $space-size;
		margin-bottom: $space-size;
	}

	menubutton > button,
	spinbutton > button,
	splitbutton > button,
	splitbutton > menubutton,
	.linked > menubutton,
	entry > menubutton {
		margin-top: 0;
		margin-bottom: 0;
	}

	button:not(.suggested-action):not(.destructive-action) {
		@extend %titlebar-button;
	}

	button.suggested-action,
	button.destructive-action {
		&:disabled {
			background-color: $titlebar-fill;
			color: $titlebar-text-disabled;
			opacity: 1;
		}
	}

	button.star {
		min-height: 24px;
		min-width: 24px;
		padding: ($medium-size - 24px) / 2;
		@extend %circular-button;
	}

	entry {
		@extend %titlebar-entry;
	}

	.linked:not(.vertical) > entry:not(:only-child) {
		border-radius: $corner-radius;
	}

	// FIXME: This is a hacky workaround.
	.entry-tag {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	@if $variant == 'light' and $topbar == 'dark' {
		stackswitcher {
			// reset
			background-color: on($titlebar, fill);

			&.linked:not(.vertical)
				> button:not(.suggested-action):not(.destructive-action) {
				&:checked {
					background-color: rgba(white, 0.15);
					color: $titlebar-text;
				}
			}
		}
	}

	popover.background {
		// reset popovers
		button:not(.suggested-action):not(.destructive-action):not(.flat) {
			@extend %button-basic;
		}

		button.suggested-action,
		button.destructive-action {
			&:disabled {
				background-color: $titlebar-fill;
				color: $titlebar-text-disabled;
			}
		}

		entry {
			@extend %entry-basic;
		}

		entry,
		spinbutton,
		button,
		menubutton,
		stackswitcher {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	separator:not(.sidebar) {
		// margin-top: $large-size / 4;
		// margin-bottom: $large-size / 4;
		background-color: $titlebar-divider;
	}

	switch {
		margin-top: ($large-size - 24px) / 2;
		margin-bottom: ($large-size - 24px) / 2;
	}

	&.selection-mode {
		// 0.1ms was a workaround for https://gitlab.gnome.org/GNOME/gtk/issues/698
		// but let's keep it for backwards compatibility.
		transition:
			background-color 0.1ms $ripple-fade-in-duration,
			color $duration $ease-out;
		background-color: $primary;
		color: on($primary);

		&:backdrop {
			color: on($primary, secondary);
		}

		.subtitle:link {
			color: on($primary);
		}

		button:not(.suggested-action):not(.destructive-action) {
			@extend %button-on-dark;
		}

		.selection-menu {
			padding-left: 16px;
			padding-right: 16px;

			.arrow {
				-gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
			}
		}
	}

	&.default-decoration {
		min-height: $medium-size;
		padding: 0;
		margin: 0;
		border: none;
		outline: none;

		windowcontrols {
			> button {
				min-width: 16px;
				min-height: 16px;
				margin: 0 $space-size - 2px;
				padding: 0;
			}

			menubutton button {
				min-height: 20px;
				min-width: 20px;
				margin: 0;
				padding: $space-size - 2px;
			}
		}
	}

	.maximized &,
	.fullscreen &,
	.tiled &,
	.tiled-top &,
	.tiled-right &,
	.tiled-bottom &,
	.tiled-left & {
		box-shadow: inset 0 -1px $border-color;

		&.default-decoration {
			box-shadow: none;
		}
	}

	.solid-csd & {
		&:dir(rtl),
		&:dir(ltr) {
			// specificity bump
			border-radius: 0;
			box-shadow: inset 0 -1px $border-color; // just remove the highlight
		}
	}
}

.titlebar:not(headerbar) {
	box-shadow: none;
}

window.devel {
	headerbar {
		$c: $titlebar;
		$gradient:
			cross-fade(10% -gtk-icontheme('system-run-symbolic'), image(transparent))
				90% 0/256px 256px no-repeat,
			linear-gradient(to right, transparent 65%, transparentize($primary, 0.8)),
			linear-gradient(to top, darken($c, 3%), $c 3px, lighten($c, 6%));
		@if $variant == 'dark' {
			$gradient:
				cross-fade(
						10% -gtk-icontheme('system-run-symbolic'),
						image(transparent)
					)
					90%
					0/256px
					256px
					no-repeat,
				linear-gradient(
					to right,
					transparent 65%,
					transparentize($primary, 0.9)
				),
				linear-gradient(to top, lighten($c, 3%) 3px, lighten($c, 5%));
		}

		background: $titlebar $gradient;

		&:backdrop {
			background:
				$titlebar
					cross-fade(
						10% -gtk-icontheme('system-run-symbolic'),
						image(transparent)
					)
					90% 0/256px 256px no-repeat,
				image($titlebar); /* background-color would flash */
		}
	}
}

/******************
 * Windows button *
 ******************/

%mac_window_button {
	min-height: 16px;
	min-width: 16px;
	padding: 0;
	margin: 16px 0;
	color: transparent;

	&.close {
		background-color: $titlebutton-close;

		&:hover {
			background-color: $titlebutton-close;
		}

		&:active {
			background-color: $titlebutton-close;
			color: gtkmix($white, $titlebutton-max, 75%);
		}

		&:backdrop {
			color: transparent;
		}
	}

	&.minimize {
		background-color: $titlebutton-min;

		&:hover {
			background-color: $titlebutton-min;
			color: gtkmix($white, $titlebutton-max, 75%);
		}

		&:active {
			background-color: $titlebutton-min;
			color: gtkmix($white, $titlebutton-max, 75%);
		}

		&:backdrop {
			color: transparent;
		}
	}

	&.maximize {
		background-color: $titlebutton-max;

		&:hover {
			background-color: $titlebutton-max;
			color: gtkmix($white, $titlebutton-max, 75%);
		}

		&:active {
			background-color: $titlebutton-max;
			color: gtkmix($white, $titlebutton-max, 75%);
		}

		&:backdrop {
			color: transparent;
		}
	}
}

%normal_window_button {
	min-height: 16px;
	min-width: 16px;
	padding: 0;
	margin: 16px 0;

	&.minimize,
	&.maximize,
	&.close {
		color: $text-secondary;
		background-color: gtkalpha(currentColor, 0.1);

		> image {
			padding: 2px;
			color: gtkalpha(currentColor, 0.5);
		}

		&:hover {
			background-color: gtkalpha(currentColor, 0.15);
			> image {
				color: $text-secondary;
			}
		}

		&:active {
			background-color: gtkalpha(currentColor, 0.2);
			> image {
				color: $text-secondary;
			}
		}

		&:backdrop {
			background-color: gtkalpha(currentColor, 0.1);
			color: $text-secondary;

			&:hover {
				background-color: gtkalpha(currentColor, 0.15);
				color: $text-secondary;
			}
		}
	}
}

/*********************
 * GtkWindowControls *
 *********************/

windowcontrols {
	border-spacing: $space-size;

	&:not(.empty) {
		&.start:dir(ltr),
		&.end:dir(rtl) {
			margin-right: $space-size;
			margin-left: $space-size;
		}

		&.start:dir(rtl),
		&.end:dir(ltr) {
			margin-left: $space-size;
			margin-right: $space-size;
		}
	}

	> button:not(.suggested-action):not(.destructive-action) {
		@extend %circular-button;

		@if $window_button == 'mac' {
			@extend %mac_window_button;
		} @else {
			@extend %normal_window_button;
		}

		> image {
			border-radius: 100%;
			padding: 0;
		}
	}
}

/******************
 * AdwWindowTitle *
 ******************/

headerbar,
windowtitle {
	.title {
		padding-left: 12px;
		padding-right: 12px;
		font-weight: bold;
	}

	.subtitle {
		font-size: smaller;
		padding-left: 12px;
		padding-right: 12px;
		// @extend .dimmed;
	}
}

windowtitle {
	margin-top: -6px;
	margin-bottom: -6px;
	min-height: 12px;
}

/************
 * Pathbars *
 ************/

.pathbar {
	background-color: $overlay-focus;
	border-radius: $corner-radius;
	padding: 0;

	button {
		margin: 0;
		@extend %button-flat-simple;
	}

	headerbar & {
		button {
			margin: 0;
		}
	}
}

// Gnome >= 45.0
.top-bar {
	box-shadow: none;
	background: none;
	border: none;

	headerbar {
		&,
		&:backdrop {
			background-color: transparent;
			box-shadow: none;
		}
	}

	.collapse-spacing {
		padding: 0;
	}
}
