/************
 * Sidebars *
 ************/

%sidebar_style {
	background-color: if($variant == 'light', #eff1f5, #262636);

	@if $colorscheme == 'frappe' {
		background-color: if($variant == 'light', #eff1f5, #383c4d);
	} @else if $colorscheme == 'macchiato' {
		background-color: if($variant == 'light', #eff1f5, #2c2f41);
	}

	@if $blackness == 'true' {
		background-color: if($variant == 'light', #eff1f5, #0a0a0a);
	}

	color: $text;
	border-radius: 0;
	margin: 0;

	.dim-label {
		color: $text-secondary-disabled;
	}
}

%sidebar_scrollbar {
	> range > trough {
		> slider {
			background-color: $text-disabled;

			&:hover {
				background-color: $text-secondary-disabled;
			}

			&:active {
				background-color: $text-secondary;
			}

			&:disabled {
				background-color: $text-secondary-disabled;
			}
		}
	}

	&.overlay-indicator {
		&:not(.dragging):not(.hovering) {
			button {
				background-color: on($indicator, disabled);

				&:disabled {
					background-color: on($indicator, secondary-disabled);
				}
			}
		}
	}
}

%sidebar_list {
	padding: 6px 0 6px 6px;
	background: none;
	color: $titlebar-text-secondary;

	> separator {
		background-color: $divider;
		margin: 10px 15px;
	}

	> row {
		color: on($indicator, secondary);
		border-radius: $modal-radius;
		color: $text;
		padding: 6px 0;

		&:hover,
		&:active,
		&:focus {
			background-color: $overlay-hover;
			color: $primary;
		}

		&:selected {
			background-color: $overlay-hover;
			color: $primary;
			font-weight: 500;

			&:hover,
			&:focus {
				color: lighten($primary, 10%);
			}
		}
	}
}

%sidebar_entry {
	background-color: if(
		$variant == 'light',
		on($indicator, secondary-fill),
		on($indicator, fill)
	);
	color: on($indicator, secondary);
	border-radius: $corner-radius - $space-size;

	&:focus-within {
		color: on($indicator);
	}

	&:drop(active),
	&:hover:not(:focus-within) {
		color: on($indicator);
	}

	&:disabled {
		color: on($indicator, secondary-disabled);
	}

	image {
		// icons inside the entry
		color: on($indicator, secondary);

		&:hover,
		&:active {
			color: on($indicator);
		}

		&:disabled {
			color: on($indicator, secondary-disabled);
		}
	}
}

%round_scrollbar {
	&.top {
		border-bottom: none;
	}
	&.bottom {
		border-top: none;
	}
	&.left {
		border-right: none;
	}
	&.right {
		border-left: none;
	}

	&.overlay-indicator {
		&:not(.dragging):not(.hovering) {
			border-color: transparent;
			background-color: transparent;

			button {
				border: none;
			}
		}

		&.dragging,
		&.hovering {
			background-color: transparent;
		}
	}
}

.sidebar-pane {
	@extend %sidebar_style;

	color: $text;
	border-top-left-radius: $window-radius;

	.sidebar-pane {
		background-color: transparent;
		color: inherit;
	}

	headerbar,
	.navigation-sidebar,
	searchbar > revealer > box {
		background-color: transparent;
		box-shadow: none;
		border: none;
	}

	.navigation-sidebar {
		padding: $space-size - 4 $space-size - 2; //only vertical padding. horizontal row size would clip
		background: none;
		color: $titlebar-text-secondary;
	}

	&:dir(ltr),
	&.end:dir(rtl) {
		&,
		banner > revealer > widget {
			// box-shadow: inset 0 1px highlight($base-alt);
			border-right: 1px solid $border-color;
		}
	}

	.sidebar,
	toolbarview,
	navigation-view-page stack {
		> scrolledwindow {
			@extend %sidebar_style;

			> scrollbar {
				@extend %sidebar_scrollbar;
				@extend %round_scrollbar;
			}
		}
	}
}

/* Middle pane in three-pane setups */
.content-pane .sidebar-pane,
.sidebar-pane .content-pane {
	background-color: transparent;
	color: $text;

	&:backdrop {
		background-color: transparent;
		transition: none;
	}
}

.content-pane {
	background-color: $background;
	color: $text;
	border-top-right-radius: $window-radius;
	// box-shadow: inset 0 1px highlight($background);

	headerbar {
		&,
		&:backdrop {
			background-color: transparent;
			box-shadow: none;
			border: none;
		}
	}

	.maximized &,
	.fullscreen &,
	.tiled &,
	.tiled-top &,
	.tiled-right &,
	.tiled-bottom &,
	.tiled-left & {
		border-radius: 0;
		box-shadow: inset 0 1px highlight($background);
	}
}

stacksidebar {
	&.sidebar {
		&:dir(ltr),
		&.left,
		&.left:dir(rtl) {
			box-shadow: inset -1px 0 $border-color;
		}

		&:dir(rtl),
		&.right,
		&.right:dir(ltr) {
			box-shadow: inset 1px 0 $border-color;
		}
	}

	+ separator.vertical,
	separator.horizontal {
		@extend %hide_separators;
	}

	.sidebar-pane &.sidebar,
	leaflet.unfolded > box > &.sidebar {
		box-shadow: none;
	}

	list {
		padding: $space-size;
		background-color: $base-alt; // This should not be necessary, but the parent stacksidebar ignores background-color.
	}

	row {
		min-height: $small-size;
		padding: $space-size;
		border-radius: $corner-radius;

		&:selected {
			font-weight: 500;
		}

		+ row {
			margin-top: 4px;
		}

		> label {
			padding-left: 6px;
			padding-right: 6px;
			color: inherit;
		}

		&.needs-attention > label {
			@extend %needs-attention;
		}
	}
}

/**********************
 * Navigation Sidebar *
 **********************/

.navigation-sidebar {
	padding: $space-size - 4 $space-size - 2; //only vertical padding. horizontal row size would clip
	border-right: none;

	&,
	&.view,
	&.background {
		background-color: transparent;
		color: inherit;
	}

	> separator {
		background-color: $divider;
		margin: 10px 15px;
	}

	row.activatable label.dim-label {
		color: $text-secondary-disabled;
	}

	> row {
		min-height: $small-size;
		// padding: 0 $space-size 0 $space-size;
		padding: 0 6px;
		margin: 0;
		border-radius: $modal-radius;

		&:hover,
		&:focus-visible:focus-within {
			background-color: $overlay-hover;
			color: $primary;
		}

		&:active {
			background-color: $overlay-active;
		}

		&:selected {
			background-color: $overlay-hover;
			label,
			image {
				color: $primary;
				font-weight: 700;
			}

			box-shadow: none;

			&:hover {
				background-color: $overlay-hover;
			}

			&:focus-visible:focus-within {
				outline: none;
				background-color: $overlay-focus;

				&:hover {
					background-color: $overlay-focus-hover;
				}
			}
		}

		&:disabled {
			color: $text-disabled;
		}

		&:not(:first-child) {
			margin-top: $space-size / 2;
		}
	}
}

/***********
 * Sidebar *
 ***********/

.sidebar {
	border-style: none;
	background-color: $fill;

	listview.view,
	list {
		background-color: transparent;
		color: inherit;
	}

	// paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

separator.sidebar {
	background-color: $divider;
	border-right: none;

	&.selection-mode,
	.selection-mode & {
		background-color: rgba(white, 0.12);
	}
}
