.Leader {
  stroke-width: 0.5 !important;
  stroke: #45475a;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #cdd6f4;
  fill: #cdd6f4;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #45475a !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #cdd6f4 !important;
  fill: #45475a !important;
}
