// OSD

$barlevel_height: 6px;

$ws_indicator_height: 32px;
$ws_dot_active: $ws_indicator_height / 3;
$ws_dot_inactive: $ws_indicator_height / 6;

%osd_base {
	color: $text;
	background-color: transparentize($background, 0.01);
	border: 1px solid transparentize($divider, 0.01);
	border-radius: $corner-radius;
	text-align: center;
	padding: $space-size * 4;
}

// media keys osd
.media-keys-osd {
	@extend %osd_base;
	@extend %title_4;

	margin-bottom: 1em;
	border-radius: 9999px;
	font-weight: bold;
	spacing: $space-size * 2;
	padding: $space-size * 2 $space-size * 4;
	& > * {
		spacing: $space-size * 2;
	}

	StIcon {
		icon-size: 32px;
	}

	StLabel {
		&:ltr {
			margin-right: $space-size;
		}
		&:rtl {
			margin-left: $space-size;
		}
	}

	.level {
		min-width: 160px;
		-barlevel-height: $barlevel_height;
		-barlevel-background-color: $base;
		-barlevel-active-background-color: $text;
		-barlevel-amplify-color: $warning;
		-barlevel-amplify-separator-width: $space-size * 0.5;

		&:ltr {
			margin-right: $space-size;
		}
		&:rtl {
			margin-left: $space-size;
		}
	}

	.level-bar {
		border-radius: $corner-radius;
		background-color: $text;
	}
}

.info-osd {
	text-align: center;
	font-weight: bold;
	spacing: 1em;
	padding: 16px;
	color: $panel_fg;
	background-color: $panel_bg;
}

.osd-window {
	text-align: center;
	font-weight: bold;
	spacing: 1em;
	padding: 20px;
	min-width: 64px;
	min-height: 64px;
	color: $panel_fg;
	border-radius: 0;
	background-color: $panel_bg;
	border: none;

	.osd-monitor-label {
		font-size: 3em;
	}

	.level {
		padding: 0;
		height: 4px;
		background-color: rgba(black, 0.35);
		border-radius: $corner-radius;
		color: $primary;
	}

	.level-bar {
		border-radius: $corner-radius;
		background-color: $primary;
	}
}

.workspace-switch-osd {
	@extend %title_4;
	color: $primary;
	background-color: transparentize($background, 0.01);
	/* border: 1px solid transparentize($divider, 0.01); */

	@if $border == 'false' and $variant == 'dark' {
		border: 1px solid highlight($popover);
		background-clip: border-box;
	} @else {
		border: 2px solid $primary;
	}

	border-radius: $modal-radius;
	text-align: center;
	padding: $space-size * 4;

	min-width: 140px;
	margin-bottom: 1em;
	border-radius: 9999px;
	font-weight: bold;
	padding: $space-size * 2 $space-size * 6 0 $space-size * 6;

	&-indicator-box {
		spacing: $space-size * 2;
	}

	&-indicator {
		background-color: transparentize($text, 0.5);
		padding: $ws_dot_inactive / 2;
		margin: ($ws_indicator_height - $ws_dot_inactive) / 2;
		border-radius: $ws_indicator_height;

		&:active {
			background-color: $primary;
			padding: $ws_dot_active / 2;
			margin: ($ws_indicator_height - $ws_dot_active) / 2;
		}
	}
}

// Workspace OSD
.workspace-osd {
	text-shadow: black 5px 5px 5px;
	font-weight: bold;
	font-size: 48pt;
}
