.Leader {
  stroke-width: 0.5 !important;
  stroke: #8c8fa1;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #eff1f5;
  fill: #eff1f5;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #8c8fa1 !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #eff1f5 !important;
  fill: #8c8fa1 !important;
}

