// Catppuccin Frappe Theme Color Palette

// Rosewater
$rosewater-light: #dc8a78;
$rosewater-dark: #f2d5cf;

// Flamingo
$flamingo-light: #dd7878;
$flamingo-dark: #eebebe;

// Pink
$pink-light: #ea76cb;
$pink-dark: #f4b8e4;

// Mauve
$mauve-light: #8839ef;
$mauve-dark: #ca9ee6;

// Red
$red-light: #d20f39;
$red-dark: #e78284;

// Maroon
$maroon-light: #e64553;
$maroon-dark: #ea999c;

// Peach
$peach-light: #fe640b;
$peach-dark: #ef9f76;

// Yellow
$yellow-light: #df8e1d;
$yellow-dark: #e5c890;

// Green
$green-light: #40a02b;
$green-dark: #a6d189;

// Teal
$teal-light: #179299;
$teal-dark: #81c8be;

// Sky
$sky-light: #04a5e5;
$sky-dark: #99d1db;

// Sapphire
$sapphire-light: #209fb5;
$sapphire-dark: #85c1dc;

// Blue
$blue-light: #1e66f5;
$blue-dark: #8caaee;

// Lavender
$lavender-light: #7287fd;
$lavender-dark: #babbf1;

// Grey
$grey-050: #eff1f5;
$grey-100: #e6e9ef;
$grey-150: #dce0e8;
$grey-200: #ccd0da;
$grey-250: #bcc0cc;
$grey-300: #bac2de;
$grey-350: #a6adc8;
$grey-400: #9399b2;
$grey-450: #7f849c;
$grey-500: #6c7086;
$grey-550: #585b70;
$grey-600: #414559;
$grey-650: #363a4f;
$grey-700: #313244;
$grey-750: #292c3c;
$grey-800: #232634;
$grey-850: #1e1e2e;
$grey-900: #181825;
$grey-950: #11111b;

// White
$white: #eff1f5;

// Black
$black: #303446;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #d20f39, #f38ba8);
$button-max: if($topbar == 'light', #40a02b, #a6e3a1);
$button-min: if($topbar == 'light', #fe640b, #fab387);
