// Catppuccin Macchiato Theme Color Palette

// Blue
$blue-light: #1e66f5;
$blue-dark: #8aadf4;

// Flamingo
$flamingo-light: #dd7878;
$flamingo-dark: #f0c6c6;

// Green
$green-light: #40a02b;
$green-dark: #a6da95;

// Lavender
$lavender-light: #7287fd;
$lavender-dark: #b7bdf8;

// Maroon
$maroon-light: #e64553;
$maroon-dark: #ee99a0;

// Mauve
$mauve-light: #8839ef;
$mauve-dark: #c6a0f6;

// Peach
$peach-light: #fe640b;
$peach-dark: #f5a97f;

// Pink
$pink-light: #ea76cb;
$pink-dark: #f5bde6;

// Red
$red-light: #d20f39;
$red-dark: #ed8796;

// Rosewater
$rosewater-light: #dc8a78;
$rosewater-dark: #f4dbd6;

// Sapphire
$sapphire-light: #209fb5;
$sapphire-dark: #7dc4e4;

// Sky
$sky-light: #04a5e5;
$sky-dark: #91d7e3;

// Teal
$teal-light: #179299;
$teal-dark: #8bd5ca;

// Yellow
$yellow-light: #df8e1d;
$yellow-dark: #eed49f;

// Grey
$grey-050: #eff1f5;
$grey-100: #e6e9ef;
$grey-150: #dce0e8;
$grey-200: #ccd0da;
$grey-250: #bcc0cc;
$grey-300: #bac2de;
$grey-350: #a6adc8;
$grey-400: #9399b2;
$grey-450: #7f849c;
$grey-500: #6c7086;
$grey-550: #585b70;
$grey-600: #414559;
$grey-650: #363a4f;
$grey-700: #313244;
$grey-750: #292c3c;
$grey-800: #232634;
$grey-850: #1e1e2e;
$grey-900: #181825;
$grey-950: #11111b;

// White
$white: #eff1f5;

// Black
$black: #24273a;

// Theme
$default-light: #006a83;
$default-dark: #27a1b9;

// Button
$button-close: if($topbar == 'light', #d20f39, #f38ba8);
$button-max: if($topbar == 'light', #40a02b, #a6e3a1);
$button-min: if($topbar == 'light', #fe640b, #fab387);
