// Theme ColorScheme palette: night/moon/storm
@import 'color-palette-default';

$colorscheme: 'default';

// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel-opacity: 0.85;

// Blackness style
$blackness: 'false';

// Windows outline style
$border: 'false';

// Roundness style
$roundness: 12;

// Panel border style
$panel_border: 'true';

// Windows button style : mac/normal
$window_button: 'normal';

// Gnome-Shell float panel version
$float: 'false';

// Nautilus Legacy style
$files_legacy: 'false';
